header
    #wrapper
      // Navigation
      nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') 
            i.fa.fa-key.fa-fw
            | &nbspKeystamp Demo v1.0.0
        // Top Menu Items
        ul.nav.navbar-right.top-nav
          li
            a#dropdown-results(href='#', data-target='#contact')
              i.fa.fa-fw.fa-bug 
              |  Bug Reports
          if isAlreadyLoggedin && page != '/inbox'
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-envelope
                b.caret
              ul.dropdown-menu.message-dropdown
                each val,index in mess
                  .text-right
                    a(href='#')
                      | Dismiss 
                      i.fa.fa-arrow-circle-right

                  li.message-preview
                    a(href='#')
                      .media-body
                        h5.media-heading
                          strong from: #{val.from}
                        p.small.text-muted
                          i.fa.fa-clock-o
                          |  #{val.creation_date}
                        p #{val.message}
                        if val._new == true
                          span.badge new!
                li.message-footer
                  a(href='#') Read All New Messages
          if isAlreadyLoggedin
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-bell
                b.caret
              ul.dropdown-menu.message-dropdown
                if notes
                  - var r = 0
                  each val,index in notes
                    .text-right
                      a(href='#')
                        | Dismiss 
                        i.fa.fa-arrow-circle-right

                  li.message-preview
                    a(href='#')
                      .media-body
                        h5.media-heading
                          if val.type == 'success'
                            br
                            span.label.label-success #{val.type}
                          if val.type == 'warning'
                            br
                            span.label.label-warning #{val.type}
                          if val.type == 'danger'
                            br
                            span.label.label-danger #{val.type}
                          if val.type == 'default'
                            br
                            span.label.label-default #{val.type}
                            br
                          if val.read == false
                            &nbsp
                            span.badge new!
                          br
                          p
                            br
                            | #{val.messages}
                            br
                          small
                            i #id: #{val.nid}
                            br
                            i #{val.createAt}

                li.divider
                li
                  a(href='#') View All
          if isAlreadyLoggedin 
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-user
                | &nbsp#{username}
                b.caret
              ul.dropdown-menu
                li.divider
                li
                  a(href='/logout')
                    i.fa.fa-fw.fa-power-off
                    |  Log Out
          else
            li.dropdown
              a.dropdown-toggle(href='#', data-toggle='dropdown')
                i.fa.fa-user
                |  Not Logged In
                b.caret
              ul.dropdown-menu
                li
                  a(href='/login')
                    i.fa.fa-fw.fa-user
                    |  Login
                li
                  a(href='/register')
                    i.fa.fa-fw.fa-gear
                    | Signup
