extends ../layouts/default
block content
  body
   // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
   .collapse.navbar-collapse.navbar-ex1-collapse
     ul.nav.navbar-nav.side-nav
       if isAlreadyLoggedin 
         if page != '/inbox'
           li
             a(href='/inbox')
               i.fa.fa-fw.fa-envelope
               |  Inbox
         if page == '/inbox'
           li
             a(href='/')
               i.fa.fa-fw.fa-file
               |  Manage documents
       li
         a(href='/keys')
           i.fa.fa-fw.fa-key
           |  &nbspManage keys
  
       if isAlreadyLoggedin 
         li
           a(href='/upload')
             i.fa.fa-fw.fa-cloud-upload
             |  Upload a file
             
       li
         a(href='/encrypt')
           i.fa.fa-fw.fa-lock
           |  &nbspEncrypt file 
       li
         a(href='/sign')
           i.fa.fa-fw.fa-pencil-square-o
           |  Sign document
       li
         a(href='/timestamp')
           i.fa.fa-fw.fa-tag
           |  &nbspTimestamp file 
       li
         a(href='/verify')
           i.fa.fa-fw.fa-check
           |  &nbspVerify document
       li
         a(href='https://live.blockcypher.com/', target='_blank')
           i.fa.fa-fw.fa-link
           | Blockchain Explorer
       if isAlreadyLoggedin 
         li
           a(href='#')
             i.fa.fa-fw.fa-cogs 
             |  Create a #Group
         li.dropdown
           a.dropdown-toggle(href='#', data-toggle='dropdown')
             i.fa.fa-users 
             |  My #Groups
             b.caret
           ul.dropdown-menu
             li
               a(href='#')
                i.fa.fa-fw.fa-user
                | #groupname

   // /.navbar-collapse
  #page-wrapper
   .container-fluid
     // Page Heading
     .row
       .col-lg-10.col-md-offset-2
         h1.page-header
           | Keystamps 
           small Proof of process demo
         if isAlreadyLoggedin == true
           br
           if notes
             ol.breadcrumb
               li.active
                 i.fa.fa-dashboard
                 |  &nbsp#{notes[notes.length-1].messages}
         if isAlreadyLoggedin == false
           br
           if notes
             ol.breadcrumb
               li.active
                 i.fa.fa-info-circle
                 |  &nbsp Log in to play around with Keystamp features !
     // /.row

     // /.row
     .row.vote-results
      .col-lg-10.col-md-offset-2
        .container-fluid
         .panel.panel-default
          .panel-heading
            button#close.close(type='button', data-dismiss='modal', aria-hidden='true') ×
            h4#contactLabel.panel-title
              span.fa.fa-bug
              |  Report bugs and comments to help the Keystamp team
          form(action='#', method='post', accept-charset='utf-8')
            .modal-body(style='padding: 5px;')
              .row
                .col-lg-6.col-md-6.col-sm-6(style='padding-bottom: 10px;')
                  small Firstname&nbsp
                  input.form-control(name='firstname', placeholder='Firstname', type='text', autofocus='')
                .col-lg-6.col-md-6.col-sm-6(style='padding-bottom: 10px;')
                  small Lastname&nbsp
                  input.form-control(name='lastname', placeholder='Lastname', type='text')
              .row
                .col-lg-12.col-md-12.col-sm-12(style='padding-bottom: 10px;')
                  small E-mail&nbsp
                    i.fa.fa-asterisk(style='color:red;')
                  input.form-control(name='email', placeholder='E-mail', type='text', required='true')
              .row
                .col-lg-12.col-md-12.col-sm-12(style='padding-bottom: 10px;')
                  small Subject&nbsp
                    i.fa.fa-asterisk(style='color:red;')
                  input.form-control(name='subject', placeholder='Subject', type='text', required='true')
              .row
                .col-lg-12.col-md-12.col-sm-12
                  small Message &nbsp
                    i.fa.fa-asterisk(style='color:red;')
                  textarea.form-control(style='resize:vertical;', placeholder='Message...', rows='6', name='comment', required='true')
            .panel-footer(style='margin-bottom:-14px;')
              input.btn.btn-primary(type='submit', value='Send')
              &nbsp
              input.btn.btn-default(type='reset', value='Clear')
              &nbsp
              button#cancel.btn.btn-default.btn-close(style='float: right;', type='button', data-dismiss='modal') Close
     .row
       .col-lg-10.col-md-offset-2
         .alert.alert-info.alert-dismissable
           button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
           i.fa.fa-info-circle
           strong &nbspRead Out
            |&nbsp
           a.alert-link(href='https://github.com/existencelabs/keystamp-whitepaper') Keystamp Whitepaper
           |  on Github!
     if isAlreadyLoggedin
       .row
         if upload == true
           .col-lg-10.col-md-offset-2
             .panel.panel-default
               .panel-heading
                 h3.panel-title
                   i.fa.fa-cloud-upload.fa-fw
                   |  Upload Documents
               .panel-body
                 form(action='/upload', method='post', accept-charset='utf-8')
                   .modal-body(style='padding: 5px;')
                       .row
                       .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                         small Enter file url link&nbsp
                           i.fa.fa-asterisk(style='color:red;')
                         input.form-control(type='text', name='path',required='true', placeholder='Enter file url link ',style='witdht:100%;')
                         br
                         small Enter encryption key&nbsp
                         input.form-control(type='text', name='key', placeholder='Enter encryption key (Optional)',style='witdht:100%;')
                   .panel-footer(style='margin-bottom:-14px;')
                     input.btn.btn-primary(type='submit', value='Send')
                     &nbsp
                     input.btn.btn-default(type='reset', value='Clear')
                     &nbsp
                     a.button.btn.btn-default.btn-close(style='float: right;', type='button',href='/' ) Close
       .row
         if page == '/index'
           .col-lg-5.col-md-offset-2
             .panel.panel-default
               .panel-heading
                 h3.panel-title
                   i.fa.fa-file.fa-fw
                   |  My Documents
               .panel-body
                h5(style='color:grey;')  Send documents:
                each val,index in documents
                 .text-right
                   a(href='#')
                     | Dismiss 
                     i.fa.fa-arrow-circle-right
                 .list-group
                   a.list-group-item(href='#')
                     span.badge=val.status
                     if val.encrypted
                       i.fa.fa-lock.fa-fw
                     else
                       i.fa.fa-file.fa-fw
                     | &nbsp#{val.filename}
                     br
                     small id# #{val.doc_id}
                     br
                     small #{val.path}
                     br
                     small #{val.filehash} 
                     br
                     small Last Updated: #{val.lastUpdated} 
                   list-group-item.button.btn.btn-block.btn-primary(href='#')
                     i.fa.fa-fw.fa-envelope
                     | &nbspSend file to user 
                   list-group-item.button.btn.btn-block.btn-default(href='#')
                     i.fa.fa-fw.fa-check-circle
                     | &nbspVerify Document
         if page == '/inbox'
           .col-lg-5.col-md-offset-2
             .panel.panel-default
               .panel-heading
                 h3.panel-title
                   i.fa.fa-file.fa-pencil-square 
                   |  My Inbox
               .panel-body
                 h5(style='color:grey;')  Sign documents or answer to messages:
                 if isAlreadyLoggedin
                  each val,index in sent
                   .text-right
                     a(href='#')
                       | Dismiss 
                       i.fa.fa-arrow-circle-right
                   .list-group
                     a.list-group-item(href='#')
                       if val.isSigned
                         span.label.success Signed
                       if val.isSigned
                         span.label.default To sign
                       | &nbsp#{val.message}
                       br
                       small id# #{val._id}
                       br
                       small From: #{val.from}
                       br
                       small To: #{val.to} 
                       br
                       small Last Updated: #{val.creation_date}
                       if val.path != null
                         br
                         small Path: #{val.path}
                     if val.path != null
                       if !isSigned  
                         list-group-item.button.btn.btn-block.btn-primary(href='#')
                           i.fa.fa-fw.fa-pencil-square 
                           | &nbspSign Document
                       list-group-item.button.btn.btn-block.btn-default(href='#')
                         i.fa.fa-fw.fa-check-circle
                         | &nbspVerify Document
                     else
                       list-group-item.button.btn.btn-block.btn-default(href='#')
                         i.fa.fa-fw.fa-envelope
                         | &nbsp Answer message
         if page == '/index' || page == '/inbox' || page == '/upload'
           .col-lg-5
             .panel.panel-default
               .panel-heading
                 h3.panel-title
                   i.fa.fa-key.fa-fw
                   |  Crypto Panel
               .panel-body
                h5(style='color:grey;') Explore transactions:
                each val,index in txs
                 .table-responsive
                   table.table.table-bordered.table-hover.table-striped
                     thead
                       tr
                         th(style='font-style:italic;') 
                           | #{val.tx_date}
                           br
                           small id# #{val._id}
                           br
                           small &nbsp#{val.path}
                           br
                           small &nbsp#{val.filename}
                       tr
                         th 
                           | txId # 
                           br
                     tbody
                       tr
                         td #{val.txid}
                       tr
                         th file Hash
                       tr
                         td #{val.filehash}
                       tr
                        th 
                          | #{username}'s xpub
                          br
                          small Key Path: &nbsp#{val.user_key_path}
                       tr
                        td #{xpub}
                      .text-right
                        a(href='#')
                          | Dismiss 
                          i.fa.fa-arrow-circle-right
     br
     if page == '/sign'
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-desktop
                 |  Console
             .panel-body(style='background-color:black;color:silver;min-height:100px;')
               if result
                 p=result
               else
                 p >> Result message will go here ... 
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-pencil-square-o.fa-fw
                 |  Sign Documents
                 br
                 small
                   | Sign a file with a public key, creating a unique signture that can be verified with your key
             .panel-body
               form(action='#', method='post', accept-charset='utf-8')
                 .modal-body(style='padding: 5px;')
                   .row
                     .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                       small Enter file url link&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='path',required='true', placeholder='Enter file url link ',style='witdht:100%;')
                       br
                       small Enter signing public key&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='key',required='true', placeholder='Enter signing public key ',style='witdht:100%;')
                 .panel-footer(style='margin-bottom:-14px;')
                   input.btn.btn-primary(type='submit', value='Sign')
                   &nbsp
                   input.btn.btn-default(type='reset', value='Clear')
     if page == '/timestamp'
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-desktop
                 |  Console
             .panel-body(style='background-color:black;color:silver;min-height:100px;')
               if result
                 p=result
               else
                 p >> Result message will go here ... 
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-pencil-square-o.fa-fw
                 |  Timestamp Documents
                 br
                 small
                   | Create proof of process from two signed file and the final document
             .panel-body
               form(action='/timestamp', method='post', accept-charset='utf-8')
                 .modal-body(style='padding: 5px;')
                   .row
                     .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                       small Enter file url link&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='path',required='true', placeholder='Enter file url link ',style='witdht:100%;')
                       br
                       small Enter your signature key&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='signature1',required='true', placeholder='Enter your signature',style='witdht:100%;')
                       br
                       small Enter second signature key&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='signature2',required='true', placeholder='Enter your signature',style='witdht:100%;')
                 .panel-footer(style='margin-bottom:-14px;')
                   input.btn.btn-primary(type='submit', value='Timestamp')
                   &nbsp
                   input.btn.btn-default(type='reset', value='Clear')
     if page == '/verify'
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-desktop
                 |  Console
             .panel-body(style='background-color:black;color:silver;min-height:100px;')
               p >> Result message will go here ... 
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-check.fa-fw
                 |  Verify Documents
                 br
                 small
                   | Verify the integrity of a timestamped filed containing signture and file hash 
             .panel-body
               form(action='#', method='post', accept-charset='utf-8')
                 .modal-body(style='padding: 5px;')
                   .row
                     .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                       small Enter file url link&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='path',required='true', placeholder='Enter file url link ',style='witdht:100%;')
                       br
                       small Enter signature key&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='path',required='true', placeholder='Enter signature key ',style='witdht:100%;')
                 .panel-footer(style='margin-bottom:-14px;')
                   input.btn.btn-primary(type='submit', value='Verify')
                   &nbsp
                   input.btn.btn-default(type='reset', value='Clear')

     if page == '/encrypt'
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-check.fa-fw
                 |  Encrypt Documents
                 br
                 small
                   | Encrypt your file on the fly. (aes256)
             .panel-body
               form(action='/upload_download', method='post', accept-charset='utf-8')
                 .modal-body(style='padding: 5px;')
                   .row
                     .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                       small Enter file url link&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='path',required='true', placeholder='Enter file url link')
                       br
                       small Enter public key or password&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='key',required='true', placeholder='Enter public key or password')
                 .panel-footer(style='margin-bottom:-14px;')
                   input.btn.btn-primary(type='submit', value='Encrypt')
                   &nbsp
                   input.btn.btn-default(type='reset', value='Clear')
     if page == '/keys'
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-desktop
                 |  Console
             .panel-body(style='background-color:black;color:silver;min-height:100px;')
               p=result
       .row
         .col-lg-10.col-md-offset-2
           .panel.panel-default
             .panel-heading
               h3.panel-title
                 i.fa.fa-key.fa-fw
                 |  Manage keys
                 br
                 small
                   | Manage and create keys on the fly and play around  
             .panel-body
               a.button.btn.btn-lg.btn-default(type='button',href='/get_public_key' ) Get a public key
               &nbsp&nbsp
               a.button.btn.btn-lg.btn-default(type='button',href='/get_private_key' ) Get a private key from our server
               hr
               p Get a new private key derived from your key (privateHDkey)
               form(action='/get_derived_key', method='post', accept-charset='utf-8')
                 .modal-body(style='padding: 5px;')
                   .row
                     .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                       small Enter master key&nbsp
                         i.fa.fa-asterisk(style='color:red;')
                       input.form-control(type='text', name='parent',required='true', placeholder='Enter master key')
                       br
                       small Enter HDkey current derivation path
                       input.form-control(type='text', name='path', placeholder='Enter HDkey current derivation path (if applicable [default to "/m"])')
                       br
                       small Enter new devivation path id
                       input.form-control(type='text', name='id', placeholder='Enter new devivation path id (Must be digits [default to 0] )')
                   .row
                     .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                       input.btn.btn-primary(type='submit', value='Get derived HD keys')
                       &nbsp
                       input.btn.btn-default(type='reset', value='Clear')
               br
               if isAlreadyLoggedin
                 p Import one of your key for encryption and signing purposes 
                 form(action='#', method='post', accept-charset='utf-8')
                   .modal-body(style='padding: 5px;')
                     .row
                       .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                         input.form-control(type='text', name='path',required='true', placeholder='Import key to your account for signing/encryption purposes')
                         br
                     .row
                       .col-lg-12.col-md-12.col-sm-12(style='padding: 1%;')
                         input.btn.btn-primary(type='submit', value='Import key')
                         &nbsp
                         input.btn.btn-default(type='reset', value='Clear')

     if isAlreadyLoggedin != true
       if page == '/index'
         .row
           .col-lg-10.col-md-offset-2
             .container-fluid 
               h3(style='color:grey;') Sign In to Keystamp Demo v.1.0.0
               br
               small
                 | Play around with #groups and Derived keys (HDkeys) hierarchy while signed up. 
               br
               form(role='form', action="/login",method="post", style='max-width: 300px;')
                 .form-group
                     input.form-control(type='text', name="username", placeholder='Enter Username', required='true')
                 .form-group
                   input.form-control(type='password', name="password", placeholder='Password', required='true')
                 button.btn.btn-default(type='submit') Submit
                 &nbsp;
                 a(href='/')
                   button.btn.btn-primary(type="button") Cancel
                 h5 
                   a(href='/register') or signup
          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='js/jquery.js')
    script(src='js/jquery_stuff.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')

