extends ../layouts/default
block content
  body
   // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
   .collapse.navbar-collapse.navbar-ex1-collapse
     ul.nav.navbar-nav.side-nav
       if isAlreadyLoggedin 
         li
           a(href='#')
             i.fa.fa-fw.fa-envelope
             |  Inbox
       li
         a(href='#')
           i.fa.fa-fw.fa-pencil-square 
           |  Sign Document
       li
         a(href='#')
           i.fa.fa-fw.fa-check-circle 
           |  Verify Document
       li
         a(href='#')
           i.fa.fa-fw.fa-link
           | Blockchain Explorer
       li
         a(href='#')
           i.fa.fa-fw.fa-exchange 
           |  Create a #Group
       li.dropdown
         a.dropdown-toggle(href='#', data-toggle='dropdown')
           i.fa.fa-user
           |  My #Groups
           b.caret
         ul.dropdown-menu
           li
             a(href='#')
              i.fa.fa-fw.fa-user
              | #groupname


   // /.navbar-collapse
  #page-wrapper
   .container-fluid
     // Page Heading
     .row
       .col-lg-10.col-md-offset-2
         h1.page-header
           | Keystamps 
           small Proof of process demo
           &nbsp&nbsp
           button#upload.btn-lg.btn-default(role='button',href='#') Upload a document
     .row
       .col-lg-10.col-md-offset-2
         form#upload_box(role='form', action="/upload", method="post")
           .form-group
             #drop-zone
               | Drop files here...
               #clickHere
                 | or click here..
                 input#file(type='file', name='file')
           button.btn-sm.btn-secondary(role='submit',href='#') Upload
         br
         ol.breadcrumb
           li.active
             i.fa.fa-dashboard
             |  System message to user here

     // /.row
     .row
       .col-lg-10.col-md-offset-2
         .alert.alert-info.alert-dismissable
           button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
           i.fa.fa-info-circle
           strong &nbspRead Out
            |&nbsp
           a.alert-link(href='https://github.com/existencelabs/keystamp-whitepaper') Keystamp Whitepaper
           |  on Github!
     .row
       .col-lg-5.col-md-offset-2
         .panel.panel-default
           .panel-heading
             h3.panel-title
               i.fa.fa-file.fa-fw
               |  My Documents
           .panel-body
             h5 Send documents:
             each val,index in documents
               .list-group
                 a.list-group-item(href='#')
                   span.badge=val.status
                   if val.encrypted
                     i.fa.fa-lock.fa-fw
                   else
                     i.fa.fa-file.fa-fw
                   |  Sign #{val.filename} - 
                   small #{val.path}
                    
                   br
                   small #{val.filehash} 
                   br
                   small Last Updated: #{val.lastUpdated} 
                 list-group-item.button.btn.btn-block.btn-primary(href='#')
                   i.fa.fa-fw.fa-envelope
                   | Send to sign
       .col-lg-5
         .panel.panel-default
           .panel-heading
             h3.panel-title
               i.fa.fa-key.fa-fw
               |  Crypto Panel
           .panel-body
             each val,index in txs
               .table-responsive
                 table.table.table-bordered.table-hover.table-striped
                   thead
                     tr
                       th(style='font-style:italic;') 
                         | #{val.tx_date}
                         br
                         small &nbsp#{val.path}
                         br
                         small &nbsp#{val.filename}
                     tr
                       th 
                         | txId # 
                         br

                   tbody
                     tr
                       td #{val.txid}
                     tr
                       th file Hash
                     tr
                       td #{val.filehash}
                     tr
                      th #{username}'s xpub
                     tr
                      td #{xpub}
                    .text-right
                      a(href='#')
                        | Collapse 
                        i.fa.fa-arrow-circle-right
          // /.row
        // /.container-fluid
      // /#page-wrapper
    // /#wrapper
    // jQuery
    script(src='js/jquery.js')
    script(src='js/jquery_stuff.js')
    // Bootstrap Core JavaScript
    script(src='js/bootstrap.min.js')

